# Code alongs - python fundamentals 1

In [15]:
my_fruit = input()

print(f"I like to eat {my_fruit}")

I like to eat apple

In [ ]:
age = input("give me your age: ")
print(f"In five years, you are {age + 5} years old")

TypeError: can only concatenate str (not "int") to str

In [8]:
age, type(age)

('23', str)

# Collections

- List
- Dictionary
- Tuples
- Sets

## List

In [30]:
# List of one type only 
Interest = ["Football", "Photography", "Gaming", "Gym"]

#List of different data types
Person = ["Efrem", 23, True]

Person

['Efrem', 23, True]

In [16]:
Interest

['Football', 'Photography', 'Gaming']

In [26]:
type(Interest), type(Person[2])

(list, bool)

### Slicing and indexing

In [ ]:

Interest[-1:]

['Gaming']

In [38]:
Interest[::-1]

['Gym', 'Gaming', 'Photography', 'Football']

In [47]:
Person.append(Interest)
Person

['Efrem', 23, True, ['Football', 'Photography', 'Gaming', 'Gym']]

In [61]:
Person[-1][-1][::-1]

'myG'

In [ ]:
# intermediate variable, to make it more readable 
Person_interest = Person[-1]
Person_interest[-2]

'Gaming'

### Iterate Over List

In [64]:
## Looping of a list
for Interest in Person_interest:
    print(Interest)

Football
Photography
Gaming
Gym

In [ ]:
print("Don't do this")
for i in range(len(Person_interest)):
    print(Person_interest[i])

Football
Photography
Gaming
Gym

In [69]:
for i, Interest in enumerate(Person_interest, 10):
    print(i, Interest)

10 Football
11 Photography
12 Gaming
13 Gym

### List Creation
- Appened
- List Comprehension

In [70]:
Numbers = []
for i in range(10):
    Numbers.append(i)
Numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [71]:
numbers = [i for i in range(10)]

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
squares = [i**2 for i in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [73]:
for square in squares:
    print(square)

0
1
4
9
16
25
36
49
64
81

In [74]:
odd_numbers = [i**2 for i in numbers if i % 2]
odd_numbers

[1, 9, 25, 49, 81]

## Dictionary
- key: value

In [82]:
person_dict_bracket_syntax = {"name:": "Efrem", "age:": 23}
person_dict_bracket_syntax.values()

dict_values(['Efrem', 23])

In [83]:
for i in person_dict_bracket_syntax:
    print(i, person_dict_bracket_syntax[i])

name: Efrem
age: 23

In [87]:
for key, value in person_dict_bracket_syntax.items():
    print(key, value)

name: Efrem
age: 23

### Dictionary comprehension

In [90]:
ml_terms = [
    "Supervised learning",
    "Unsupervised learning"
]

ml_explanation = [
    "Learns from labeled data",
    "Finds patterns from unlabeled data"
]

{term.lower(): explanation.lower() for term, explanation in zip(ml_terms, ml_explanation)}

{'supervised learning': 'learns from labeled data',
 'unsupervised learning': 'finds patterns from unlabeled data'}

## If-statement

In [92]:
predicted_probability = 0.8

if predicted_probability > 0.5:
    y_pred = 1
else:
    y_pred = 0

y_pred

1

In [96]:
accuracy = .6
if accuracy > .9:
    model_performance = "Very good"
elif accuracy > .7:
    model_performance = "Good"
else:
    model_performance = "Bad"

accuracy, model_performance

(0.6, 'Bad')

## While-statement

In [ ]:
birds = 80000
year = 0

while birds > 8000:
    print(f"Year {year} there where {birds:.0f} birds")
    birds /= 2
    year += 1

print(f"It take {year} years for the birds to have 1/10 remining")

Year 0 there where 80000 birds
Year 1 there where 40000 birds
Year 2 there where 20000 birds
Year 3 there where 10000 birds
It take 4 years for the birds to have 1/10 remining